@import '~node_modules/modern-normalize/modern-normalize.css';

.header {
  background-color: #2596be;
}
.header-container {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.wrapper {
  padding: 20px;
}

.input {
  width: 300px;
  border-radius: 4px;
}

.button-search {
  border-radius: 4px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.photo-card {
  flex-basis: calc((100% - 60px) / 4);
  outline: solid 1px grey;
  border-radius: 4px;
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.5);
}

.photo-card img {
  display: block;
  margin: 0 auto;
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.load-more {
  margin: 20px auto 0 auto;
  display: block;
  border-radius: 4px;
}

.unvisible {
  display: none;
}
