@import '~node_modules/modern-normalize/modern-normalize.css';

.header {
  background-color: #2596be;
}
.header-container {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
}

.input {
  width: 300px;
  border-radius: 6px;
}

.button-search {
  border-radius: 6px;
}
